.container
    .log-in__content
        .log-in__heading
            h2.log-in__heading Войти
        .log-in__inputs
            form.log-in__form
                input(placeholder='Email' type='email').log-in__form__email
                input(placeholder='Пароль' type='password').log-in__form__password
                input(value='Войти' type='submit').log-in__form__submit
        .log-in__create-account
            span.hint Нет аккаунта на Toxin?
            button.create_account Создать

