.container
    footer.footer
        .footer__logo
                img(src="../assets/img/logo/logo.svg")
        .footer__copyright
            span.footer-bottom__copyright__text Copyright © 2018 Toxin отель. Все права защищены.
        .footer__links
            ul.links
                li.links__item
                    a.links__twitter
                        img.links__img(src="../assets/img/social_media/twitter.svg")
                li.links__item
                    a.links__twitter
                        img.links__img(src="../assets/img/social_media/facebook.svg")
                li.links__item
                    a.links__twitter
                        img.links__img(src="../assets/img/social_media/instagram.svg")


