.container
    header.header
        .logo
            img(src="../header/img/logo.svg")
        .header__menu
            nav.menu
                ul.menu__list
                    li.menu__item
                        a.menu__link(href='1').menu__link_state_active О нас
                    li.menu__item
                        a.menu__link(href='2') Услуги
                            i.menu__chevron-down
                    li.menu__item
                        a.menu__link(href='3') Вакансии
                    li.menu__item
                        a.menu__link(href='4') Новости
                    li.menu__item
                        a.menu__link(href='5') Соглашения
                            i.menu__chevron-down
        .header__autentification
            .autentification
                    p.autentification__user-name Юлий Цезарь