.container
  width: 1160px
  margin: auto
  .footer
    height: 372px
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    h3
      font-family: "Montserrat-bold", sans-serif
      font-size: 12px
      font-weight: bold
      text-transform: uppercase

    .info
      width: 260px
    nav ul li a
      color: rgba(31, 32, 65, 0.5)
  footer
    height: 70px
    .footer-bottom__copyright
      color: rgba(31, 32, 65, 0.5)


